# Python
__pycache__/
*.py[cod]
venv/

# Data
# Data files (ignore raw & processed CSVs)
data/raw/*.csv
!data/raw/*.dvc

data/processed/*.csv
!data/processed/*.dvc


# DVC
.dvc/

# MLflow
mlruns/

# Logs
*.log
